//
   Created by tommy_2 on 2015/11/18.
extend ../layout
block content
  #sourceModal.modal.fade(tabindex='-1',role='dialog', aria-labelledby="meetingLabel",aria-hidden="true")
    div.modal-dialog.modal-xs
      div.modal-content
        div.modal-body
          div.row
            div.col-sm-3.col-sm-offset-2
              div.input-group(style="margin-top:5px;margin-bottom:20px")
                span
                  b 指标名：
              div.input-group(style="margin-top:5px;margin-bottom:20px")
                span
                  b 数据类型：
              div.input-group(style="margin-top:5px;margin-bottom:20px")
                span
                  b 指标释解：
              div.input-group(style="margin-top:5px;margin-bottom:20px")
                span
                  b 分类名：
            div.col-sm-5
              input#sourceName.form-control(style="margin-bottom:7px")
              input#type_id.form-control(style="margin-bottom:7px")
              input#dataDes.form-control(style="margin-bottom:7px")
              input#group_name.form-control(style="margin-bottom:7px")
              div.col-sm-7.col-sm-offset-5
                label.label.label-danger#showMess
        div.modal-footer
          div.row
            div.btn-group.col-sm-offset-4
              button.btn.btn-default#save 保存
              button.btn.btn-default(data-dismiss="modal") 关闭
  div.tab-content.tabWhite
    div.tab-pane.active
      div.panel.panel50
        button.btn.btn-primary(data-toggle="modal" data-target="#sourceModal" data-backdrop="static") 新建
      table.table.table-striped#pattern
        thead
          tr
            th(style="width:20%") 指标名
            th(style="width:20%") 数据类型
            th(style="width:20%") 指标释解
            th(style="width:20%") 分类名
            th(style="width:20%")
        tbody#patternBody
          each item,index in models||[]
            tr
              td.eName=item.name
              td.eKey=item.type_id
              td.eKey=item.description
              td.eKey=item.group_name
              td
                button.btn.btn-primary.btn-xs(data-toggle="modal" data-target="#sourceModal" data-backdrop="static" data-id="#{item.id}" data-type="edit"
                data-html="#{item.name}/#{item.type_id}/#{item.description}/#{item.group_name}") 修改
                button.btn.btn-danger.btn-xs(onclick="del('#{item.id}')") 删除

block script
  script(type='text/javascript',src='/js/source/index.js')